{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.contact.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
                            <input type="text" name="name" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}</label>
                            <input type="tel" class="form-control" placeholder="{{ with .Site.Params.contact.form.phone.text }}{{.}}{{ end }}" id="phone" required data-validation-required-message="{{ with .Site.Params.contact.form.phone.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <input type="hidden"  name="_subject" value="New submission!">
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>
                    
                    
                    
                    
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                        <p class="form-control" id="servicesNeeded1">Services Needed</p> 
                        <div id="servicesNeeded3">    
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.website.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.website.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.website.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.hosting.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.hosting.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.hosting.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.domain.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.domain.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.domain.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.interactive.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.interactive.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.interactive.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.application.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.application.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.application.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.cms.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.cms.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.cms.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default btn-web" id="{{ with .Site.Params.contact.form.service.webrevision.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.webrevision.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.webrevision.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-photo" id="{{ with .Site.Params.contact.form.service.touchup.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.touchup.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.touchup.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-photo" id="{{ with .Site.Params.contact.form.service.replace.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.replace.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.replace.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-photo" id="{{ with .Site.Params.contact.form.service.gif.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.gif.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.gif.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-photo" id="{{ with .Site.Params.contact.form.service.resize.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.resize.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.resize.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-photo" id="{{ with .Site.Params.contact.form.service.change.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.change.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.change.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.logo.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.logo.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.logo.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                        
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.ad.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.ad.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.ad.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                        
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.poster.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.poster.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.poster.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.invitation.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.invitation.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.invitation.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.businesscard.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.businesscard.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.businesscard.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.letterhead.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.letterhead.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.letterhead.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                        
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.tshirt.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.tshirt.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.tshirt.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                        
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.digitaldesign.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.digitaldesign.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.digitaldesign.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-design" id="{{ with .Site.Params.contact.form.service.designrevision.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.designrevision.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.designrevision.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default" id="{{ with .Site.Params.contact.form.service.consultationemail.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.consultationemail.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.consultationemail.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default .btn-bot" id="{{ with .Site.Params.contact.form.service.bot.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.bot.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.bot.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default" id="{{ with .Site.Params.contact.form.service.consultationperson.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.consultationperson.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.consultationperson.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button>
                            
                        <button type="button" class = "btn btn-default" id="{{ with .Site.Params.contact.form.service.idea.id }}{{.}}{{ end }}">{{ with .Site.Params.contact.form.service.idea.text }}{{.}}{{ end }} ${{ with .Site.Params.contact.form.service.idea.price }}{{.}}{{ end }} <i class="material-icons" style = "display: inline-flex; vertical-align: middle;">add_circle_outline</i></button> 
                        <dl class="shoppingCart dl-horizontal">
                            <!--placeholder-->
                        </dl>
                        </div>  
                            
                        <label>{{ with .Site.Params.contact.form.price.text }}{{.}}{{ end }}</label>
                        <input name="field" id="servicesNeeded2" type="text" value="0" placeholder="0"class="totalPrice form-control">
                        
                        </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}</label>
                            <textarea rows="5" name="message" class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
